<html lang="en">

<head>
    <!-- website name -->
    <title>Chembddb-Create</title>

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/search.css">

    <script>
        function get_value() {
            var val = document.getElementById('dbname').value;
            return val;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

</head>

<body>
    {% if sdb is defined %}
    {{pass}}
    {% else %}
    {%set sdb=[]%}
    {% endif %}
    <div class="nav">
        <a href="/connect">
            <div class="nav-button">⚙️ Setup</div>
        </a>
        <a href="/search">
            <div class="nav-button nav-selected">🔍 Search</div>
        </a>
        <a href="/delete">
            <div class="nav-button">❌ Delete</div>
        </a>
        <a href="/temp_insert">
            <div class="nav-button">🗳️ Insert</div>
        </a>
        <a href="/view">
            <div class="nav-button">👁️ View</div>
        </a>

    </div>
    <div class="search-container">
        <form id="search_form" method="post" action='/search_db' class='search-form'>

            <div class="search-title"> 🔍 Search</div>

            <div class='search-item '>
                <div class='search-label'>
                    Database
                </div>
                <div class="search-input">
                    <select name="db" id="search_db_select">
                        {% for adbs in all_dbs %}
                        <option class="db-option" value="{{adbs[0]}}" href="#"> 🐬{{adbs[0]}}</option>
                        {% endfor %}
                    </select>

                </div>

            </div>

            <div class='search-item '>
                <div class='search-label'>Meta</div>
                <div class="search-input">
                    <select name="meta" id="search_meta_select" value="search-query-molecule" onchange="setMeta()">
                        <option value='search-query-molecule' selected>search-query-molecule</option>
                        <option value='search-query-des'>search-query-des</option>
                    </select>

                </div>
            </div>

            <div class='search-item '>
                <div class='search-label'>
                    Property: Id
                </div>
                <div class="search-input">
                    <input name="property_id" type="number"  /> <!--required-->
                </div>

            </div>

            <div class='search-item '>
                <div class='search-label'>
                    Property: Lower Limit
                </div>
                <div class="search-input">
                    <input name="property_from_val" type="number" />
                </div>

            </div>

            <div class='search-item '>
                <div class='search-label'>
                    Property: Upper Limit
                </div>
                <div class="search-input">
                    <input name="property_to_val" type="number" /> <!--required-->
                </div>

            </div>

            <!-- ----------------------------- HERE LIES HTML OF search-query-molecule----------------------------------------------------- -->
            <div class="search-molecule">
                <div class='search-item '>
                    <div class='search-label'>
                        SMILES Search:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_SMILES" class='search-item '>
                    <div class='search-label'>
                        SMILES:
                    </div>
                    <div class="search-input">
                        <input name="SMILES" type="text" />
                    </div>

                </div>

                <div class='search-item '>
                    <div class='search-label'>
                        MW:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displayMwSearch(event)' name="mw_search"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displayMwSearch(event)' name="mw_search"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_MW" class='search-item '>
                    <div class='search-label'>
                        MW: Lower Limit
                    </div>
                    <div class="search-input">
                        <input name="MW_from_val" type="number" />
                    </div>

                    <div class='search-label'>
                        MW: Upper Limit
                    </div>
                    <div class="search-input">
                        <input name="MW_to_val" type="number" />
                    </div>
                </div>

            </div>


            <!-- ----------------------------- HERE LIES HTML OF search-query-des----------------------------------------------------- -->
            <div class="search-des">
                <div class='search-item '>
                    <div class='search-label'>
                        SMILES Search HBA:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search_hba"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search_hba"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_SMILES_HBA" class='search-item '>
                    <div class='search-label'>
                        HBA SMILES:
                    </div>
                    <div class="search-input">
                        <input name="HBA_SMILES" type="text" />
                    </div>

                </div>

                <div class='search-item '>
                    <div class='search-label'>
                        SMILES Search HBD:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search_hbd"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search_hbd"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_SMILES_HBD" class='search-item '>
                    <div class='search-label'>
                        HBD SMILES:
                    </div>
                    <div class="search-input">
                        <input name="HBD_SMILES" type="text" />
                    </div>

                </div>
                
                <div class='search-item '>
                    <div class='search-label'>
                        Other SMILES Search:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search_other"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displaySmileSearch(event)' name="smiles_search_other"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_SMILES_Other" class='search-item '>
                    <div class='search-label'>
                        Other SMILES:
                    </div>
                    <div class="search-input">
                        <input name="Other_SMILES" type="text" />
                    </div>

                </div>




                <div class='search-item '>
                    <div class='search-label'>
                        HBA MW:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displayMwSearch(event)' name="hba_mw_search"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displayMwSearch(event)' name="hba_mw_search"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_HBA_MW" class='search-item '>
                    <div class='search-label'>
                        HBA MW: Lower Limit
                    </div>
                    <div class="search-input">
                        <input name="HBA_MW_from_val" type="number" />
                    </div>

                    <div class='search-label'>
                        HBA MW: Upper Limit
                    </div>
                    <div class="search-input">
                        <input name="HBA_MW_to_val" type="number" />
                    </div>
                </div>

                <div class='search-item '>
                    <div class='search-label'>
                        HBD MW:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displayMwSearch(event)' name="hbd_mw_search"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displayMwSearch(event)' name="hbd_mw_search"
                            value="No" /><span>No</span>
                    </div>

                </div>
                <div id="search_HBD_MW" class='search-item '>
                    <div class='search-label'>
                        HBD MW: Lower Limit
                    </div>
                    <div class="search-input">
                        <input name="HBD_MW_from_val" type="number" />
                    </div>

                    <div class='search-label'>
                        HBD MW: Upper Limit
                    </div>
                    <div class="search-input">
                        <input name="HBD_MW_to_val" type="number" />
                    </div>
                </div>

                <div class='search-item '>
                    <div class='search-label'>
                        Other MW:
                    </div>
                    <div class="search-input">
                        <input type="radio" onclick='displayMwSearch(event)' name="other_mw_search"
                            value="Yes" /><span>Yes</span>
                        <input type="radio" onclick='displayMwSearch(event)' name="other_mw_search"
                            value="No" /><span>No</span>
                    </div>

                </div>
                
                <div id="search_Other_MW" class='search-item '>
                    <div class='search-label'>
                        Other MW: Lower Limit
                    </div>
                    <div class="search-input">
                        <input name="other_MW_from_val" type="number" />
                    </div>

                    <div class='search-label'>
                        Other MW: Upper Limit
                    </div>
                    <div class="search-input">
                        <input name="other_MW_to_val" type="number" />
                    </div>
                </div>
                
                
            </div>

            <button type="submit" class='search-button'>
                Search
            </button>





        </form>
        <div id="search-table" class="search-table">
            <p id="search-message" class="search_message"> 📋 Searched results will appear here.</p>
        </div>
    </div>


    <script src="/static/js/search.js"></script>
    <script>
        var searchedResult = {{ sdb| tojson}}
        console.log(searchedResult)
        generateTable(document.getElementById("search-table"), searchedResult)
    </script>

</body>

</html>