<!DOCTYPE html>
<html>

<head>
  <!--website name-->
  <title>ChemBDDB-Insert</title>
  <!--website heading-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/insert.css">
  <link rel="stylesheet" href="/static/styles/main.css">



  <script>
    function removeRow(n) {
      console.log('here')
      var tr = n.parentNode.parentNode;
      tr.parentNode.removeChild(tr);
    }
    function addRow(n) {
      console.log('adding row')
      console.log(n)
      allprevselected = []
      var id = n + 1
      $('select.properties').each(function () { //Loop all existing selects
        //printing previously selected value 
        allprevselected.push($(this).val())
        console.log('logging inside ad rows')
        console.log($(this).val())
      });
      console.log(allprevselected)
      var col = '{{props}}'
      var col_elems = $("<div/>").html(col).text();

      col_elems = col_elems.replace("[", '')
      col_elems = col_elems.replace("]", '')
      col_elems = col_elems.replace(/'/g, '')
      col_elems = col_elems.split(", ")
      console.log(col_elems)
      diff_cols = $(col_elems).not(allprevselected).get()

      var str = '<tr><td><input name="2_prop" type="text" value="na" placeholder="na"></td>'
      str = str + '<td><input name="2_unit" type="text" value="na" placeholder="na"></td>'
      var i;
      str = str + '<td> <input id=remove_' + id + ' name="removerow" class="removebutton" type="button" onclick="removeRow(this)" value="Remove Row" style="background-color#005bbb;color_+#ffffff;font-family:Exo;"></td></tr>'
      $('#md').append(str)
      console.log(id)
      var add = 'add_' + n
      document.getElementById(add).disabled = false
    }
    function addRow_2(n) {
      console.log('adding row')
      console.log(n)
      allprevselected = []
      var id = n + 1
      $('select.properties').each(function () { //Loop all existing selects
        //printing previously selected value 
        allprevselected.push($(this).val())
        console.log('logging inside ad rows')
        console.log($(this).val())
      });
      console.log(allprevselected)
      var col = '{{props}}'
      var col_elems = $("<div/>").html(col).text();

      col_elems = col_elems.replace("[", '')
      col_elems = col_elems.replace("]", '')
      col_elems = col_elems.replace(/'/g, '')
      col_elems = col_elems.split(", ")
      console.log(col_elems)
      diff_cols = $(col_elems).not(allprevselected).get()

      var str = '<tr><td><select id="0" class="properties" name="prop_id_0">'
      str = str + '<option id="cols_0P" value="cols_0P">Select column name</option>'
      str = str + '{% for prop in props %}<option id="cols_{{prop}}" name="cols_{{prop}}" value="{{prop}}">{{prop}}</option>{% endfor %}'
      str = str + '</select></td>'
      str = str + '<td><input name="2_prop" type="text" value="na" placeholder="na"></td>'
      str = str + '<td><input name="2_unit" type="text" value="na" placeholder="na"></td>'
      var i;
      //for (i = 0; i < diff_cols.length; i++) {
      //str = str + '<option id="cols_' + diff_cols[i] + '" name="cols_' + diff_cols[i] + '" value="' + diff_cols[i] + '">' + diff_cols[i] + '</option>'
      //}
      //str = str + '{% for prop in props %} <option id="cols_{{prop}}" name="cols_{{prop}}" value="{{prop}}">{{prop}} </option> {% endfor %} '
      //str = str + '<tr></select></td><td><input name="2_prop" type="text" value="na"></td>'
      //str = str +'<td><input name="2_unit" type="text" value="na" placeholder="na"></td></tr>'
      //str = str + '<td> <input id=add_' + id + ' name="addrow" class="addbutton" type="button" onclick="addRow(' + id + ')" value="Add Row" style="background-color:#005bbb;color:#ffffff;font-family:Exo;"></td>'
      str = str + '<td> <input id=remove_' + id + ' name="removerow" class="removebutton" type="button" onclick="removeRow(this)" value="Remove Row" style="background-color#005bbb;color_+#ffffff;font-family:Exo;"></td></tr>'
      $('#md').append(str)
      console.log(id)
      var add = 'add_' + n
      document.getElementById(add).disabled = false
    }

    function bin_tert(n) {
      let binTertValid = document.getElementById("is_tert_buttons");
      if (binTertValid != null) { return }
      if (n == 0)
        var str = "<td><div class='p-2' id='is_tert_buttons'><p>Is the DES Binary or Tertiary?</p>"
      str = str + "<div class='form-group' sytle='font-family:Exo;'>"
      str = str + "<input name='is_tert' type='radio' id='binary' value='binary' required>"
      str = str + "<label for='binary'>Binary DES</label><br>"
      str = str + "<input name='is_tert' type='radio' id='tert' value='tert' required>"
      str = str + "<label for='tert'>Tertiary DES</label>"
      str = str + "</div></div></td>"

      $('#db_table').append(str)
      var add = 'add_' + n
      document.getElementById(add).disabled = false
    }

    function showMessage() {
      alert("Values being submitted...\nThis may take a few seconds.");
    }
  </script>
</head>

<body>

  <div class="nav">
    <a href="/setup">
      <div class="nav-button ">⚙️ Setup</div>
    </a>
    <a href="/search">
      <div class="nav-button">🔍 Search</div>
    </a>
    <a href="/delete">
      <div class="nav-button">❌ Delete</div>
    </a>
    <a href="/temp_insert">
      <div class="nav-button nav-selected">🗳️ Insert</div>
    </a>
    <a href="/view">
      <div class="nav-button">👁️ View</div>
    </a>

  </div>
  {%if error %}
  <div class="error alert-danger">
    There was an error, it was {{error}}.
  </div>
  {%endif%}
  <div class="insert">
    <h3 style="font-family:Exo;">Insert</h3>
    {% if init %}
    <form name="insert_data_config" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <table class="table table-bordered" border="0" style="align-content:center;font-family: Exo;" name="db_table"
          id="db_table">
          <col width="240">
          <col width="240">
          <col width="240">
          <tr>
            <td>
              <label for="dbname" style="font-family:Exo;">Database Name:</label>
              <select name="dbname">
                {% for dbname in all_dbs %}
                <option id="dbname" value="{{dbname[0]}}">{{dbname[0]}}</option>
                {% endfor %}
              </select>
              <small id="smiles" class="form-text text-muted" style="font-family:Exo;">Enter the name of the database
                you want to insert data into:</small>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group" style="font-family:Exo;">
                <label for="data_file_label">Data file (csv)</label>
                <input name="data_file" type="file" id="data_file" required>
              </div>
            </td>
            <td>
              <div class="form-group" id="des_status_buttons" style="font-family:Exo;">
                <p>DES or Molecule?</p>
                <input name="des_status" type="radio" id="des" value="des" required onClick="bin_tert(0)">
                <label for="des">DES</label>
                <br>
                <input name="des_status" type="radio" id="molecule" value="molecule" required>
                <label for="molecule">Molecule</label>
              </div>
            </td>
            <td>
              <div class="form-group" sytle="font-family:Exo;">
                <p>Is all property data stored in a single column, or does each property have its own?</p>
                <input name="prop_store" type="radio" id="single_col" value="single_col" required>
                <label for="single_col">Single</label>
                <input name="prop_store" type="radio" id="multi_col" value="multi_col" required>
                <label for="multi_col">Multiple</label>
              </div>
            </td>
            <td>
              <div class="form-group" sytle="font-family:Exo;">
                <p>Is there simulation data stored in this csv file?</p>
                <input name="sim_status" type="radio" id="yes_sim" value="yes_sim" required>
                <label for="yes_sim">Yes</label>
                <input name="sim_status" type="radio" id="no_sim" value="no_sim" required>
                <label for="no_sim">No</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group" sytle="font-family:Exo;">
                <p>Is there molecular weight data stored in this csv file?</p>
                <input name="mw_meta" type="radio" id="yes_mw" value="yes_mw" required>
                <label for="yes_mw">Yes</label>
                <input name="mw_meta" type="radio" id="no_mw" value="no_mw" required>
                <label for="no_mw">No</label>
              </div>
            </td>
            <td>
              <div class="form-group" style="font-family:Exo;">
                <p>Are there many properties in the file?</p>
                <input name="prop_num" type="radio" id="yes_many" value="yes_many" required>
                <label for="yes_many">Yes</label>
                <input name="prop_num" type="radio" id="no_many" value="no_many" required>
                <label for="no_many">No</label>
              </div>
            </td>
            <td>
              <button class="button" type="submit" name="upload_data" value="Upload"
                class="btn btn-primary">Upload</button>
            </td>
          </tr>
        </table>
      </div>
    </form>
    {% endif %}
    <form name="config" action="" method="POST">
      {% if data_validated %}
      <h4 style="font-family:Exo">Step 1: Molecule Identifiers</h4>
      {% if des_status %}
      {% if is_tert %}
      <h5 style="font-family:Exo">Select columns in your file that contain the HBA, HBD, and Other IDs and Ratios</h5>
      {% else %}
      <h5 style="font-family:Exo">Select columns in your file that contain the HBA and HBD IDs and Ratios</h5>
      {% endif %}
      <!-- ENDS is_tert-->
      <div class="row">
        <div>
          <table class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
            <col width="240">
            <col width="240">
            <col width="240">
            <tr>
              <td>
                <h5>HBA</h5>
              </td>
              <td>
                <h5>HBA Column</h5>
              </td>
              {% if mw_meta %}
              <td>
                <h5>HBA MW</h5>
              </td>
              {% endif %}
              <!--ENDS if mw_meta-->
            </tr>
            <tr>
              <td>
                {% for HBA_ident in
                ['SMILES','Std_InChI','Std_InChI_Key','IUPAC_name','Other_name','CAS_registry_no','Chemical_formula'] %}
            <tr>
              <td><input id='1' type="checkbox" name="{{HBA_ident}}col" value="{{HBA_ident}}">&nbsp;&nbsp;{{HBA_ident}}
              </td>
              <td>
                <select id="{{HBA_ident}}_id" class="HBA_identifier" name="{{HBA_ident}}_id">
                  <option id="cols_0A" value="cols_0A">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}"> {{c}}</option>
                  {% endfor %}
                </select>
              </td>
              {% if mw_meta %}
              <td>
                <select id="{{HBA_ident}}_mw" class="HBA_MW" name="{{HBA_ident}}_mw">
                  <option id="cols_0A_MW" value="cols_0A_MW">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                  {% endfor %}
                </select>
              </td>
              {% endif %}
              <!--ENDS mw_meta-->
            </tr>
            </td>
            {% endfor %}
            </tr>
            <tr>
              <td>
                <h5>HBD</h5>
              </td>
              <td>
                <h5>HBD Column</h5>
              </td>
              {% if mw_meta %}
              <td>
                <h5>HBD MW</h5>
              </td>
              {% endif %}
              <!--Ends mw_meta-->
            </tr>
            <tr>
              <td>
                {% for HBD_ident in
                ['SMILES','Std_InChI','Std_InChI_Key','IUPAC_name','Other_name','CAS_registry_no','Chemical_formula'] %}
            <tr>
              <td><input id='2' type="checkbox" name="{{HBD_ident}}col" value="{{HBD_ident}}">&nbsp;&nbsp;{{HBD_ident}}
              </td>
              <td>
                <select id="{{HBD_ident}}_id" class="HBD_identifier" name="{{HBD_ident}}_id">
                  <option id="cols_0B" value="cols_0B">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            </td>
            {% if mw_meta %}
            <td>
              <select id="{{HBD_ident}}_mw" class="HBD_MW" name="{{HBD_ident}}_mw">
                <option id="cols_0B_MW" value="cols_0B_MW">Select column name</option>
                {% for c in cols %}
                <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                {% endfor %}
              </select>
            </td>
            {% endif %}
            <!--End mw_meta-->
            {% endfor %}
            </tr>
            {% if is_tert %}
            <tr>
              <td>
                <h5>Other</h5>
              </td>
              <td>
                <h5>Other Compound Column</h5>
              </td>
              {% if mw_meta %}
              <td>
                <h5>Other MW</h5>
              </td>
              {% endif %}
              <!--End mw_meta-->
            </tr>
            <tr>
              <td>
                {% for Other_ident in
                ['SMILES','Std_InChI','Std_InChI_Key','IUPAC_name','Other_name','CAS_registry_no','Chemical_formula'] %}
            <tr>
              <td><input id='1' type="checkbox" name="{{Other_ident}}col"
                  value="{{Other_ident}}">&nbsp;&nbsp;{{Other_ident}}
              </td>
              <td>
                <select id="{{Other_ident}}_id" class="Other_identifier" name="{{Other_ident}}_id">
                  <option id="cols_0O" value="cols_0O">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}"> {{c}}</option>
                  {% endfor %}
                </select>
              </td>
              {% if mw_meta %}
              <td>
                <select id="{{Other_ident}}_mw" class="Other_MW" name="{{Other_ident}}_mw">
                  <option id="cols_0O_MW" value="cols_0O_MW">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                  {% endfor %}
                </select>
              </td>
              {% endif %}
              <!--end mw_meta-->
            </tr>
            </td>
            {% endfor %}
            </tr>
            {% endif %}
            <!-- end is_tert-->
            <tr>
              <td>
                {% if is_tert %}
                <h6>Ratios</h6>
                {% else %}
                <h6>Ratio</h6>
                {% endif %}
                <!--end is_tert-->
              </td>
            </tr>
            <tr>
              <td>
                <select id="{{AD_ratio_col}}_id" class='AD_ratio_col' name="{{AD_ratio_col}}_id">
                  <option id="cols_0RAD" value="cols_0RAD">Select HBA/HBD column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            {% if is_tert %}
            <tr>
              <td>
                <select id="{{OD_ratio_col}}_id" class="OD_ratio_col" name="{{OD_ratio_col}}_id">
                  <option id="cols0RAO" value="cols_0RAO">Select Other/HBD column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            {% endif %}
            <!--end is_tert-->
          </table>
        </div>
      </div>
      {% else %}
      <h5 style="font-family:Exo;">Select columns from your file which represent molecule identifiers</h5>

      <div class='row'>
        <div class='col col-lg-6'>
          <table class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
            <col width="240">
            <col width="240">
            <col width="240">
            <tr>
              <td>
                <h5>Identifier</h5>
              </td>
              <td>
                <h5>Column Name</h5>
              </td>
              {% if mw_meta %}
              <td>
                <h5>MW Column</h5>
              </td>
              {% endif %}
            </tr>
            {% for mol_ident in
            ['SMILES','Std_InChI','Std_InChI_Key','IUPAC_name','Other_name','CAS_registry_no','Chemical_formula'] %}
            <tr>
              <td><input id='1' type="checkbox" name="{{mol_ident}}col" value={{mol_ident}}
                  onclick="document.getElementById('{{mol_ident}}_id').disabled=!this.checked;">&nbsp;&nbsp;{{mol_ident}}
              </td>
              <td>
                <select id="{{mol_ident}}_id" class=molIdentifier name="{{mol_ident}}_id" disabled>
                  <option id="cols_0" value="cols_0">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}"> {{c}} </option>
                  {% endfor %}
                </select>
              </td>
              {% if mw_meta %}
              <td>
                <select id="{{mol_ident}}_mw" class="mol_MW" name="{{mol_ident}}_mw">
                  <option id="cols_0_MW" value="cols_0_MW">Select column name</option>
                  {% for c in cols %}
                  <option id="cols_{{c}}" name="cols_{{c}}" value="{{c}}">{{c}}</option>
                  {% endfor %}
                </select>
              </td>
              {% endif %}
            </tr>

            {% endfor %}
            {% endif %}
            <tr>
              <td>
                <button class="button" type="button" class="btn btn-primary"
                  onClick="window.location.reload();">Reset</button>
                <button class="button" type="submit" name="config" method="POST" class="btn btn-primary">Proceed to Step
                  2: Properties</button>
                {% if conf %}
                <button class="button" type="submit" name="use-config" method="POST" class="btn btn-primary">Use last
                  configuration for Step
                  2</button>
                {% endif %}
              </td>
            </tr>
          </table>
    </form>
    {% endif %}
    {% if props %}
    <form name="meta-data" id="meta-data" action='' method="POST">
      <h4 style="font-family:Exo;">Step 2: Properties</h4>
      {% if prop_num %}
      <table id="md" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <tr>
          <td>
            <h5 style="font-family:Exo;">Property Names</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Property Units</h5>
          </td>
        </tr>
        <tr>
          <td>
            <textarea id="2_prop" name="2_prop" rows="5" cols="60" placeholder="Enter property column headings separated by commas here (required)" required></textarea>
          </td>
          <td>
            <textarea id="2_unit" name="2_unit" rows="5" cols="60" placeholder="Enter corresponding units separated by commas here"></textarea>
          </td>
        </tr>
      </table>
      {% else %}
      <h5 style="font-family:Exo;">Select columns from your file which represent the properties you want to enter into the database</h5>
      <table id="prop_spec1" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <col width="240">
        <col width="240">
        {% if prop_store %}
        <tr>
          <td>
            <h5 style="font-family:Exo;">Property Value Column</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Property Type Column</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Property Unit Column</h5>
          </td>
        </tr>
        <tr>
          {% for i in ['value','property','unit'] %}
          <td>
            <select id="0_prop_store" class="properties_store" name="prop_store_id_0">
              <option id="cols_0PS" value="cols_0PS">Select column name</option>
              {% for prop in props %}
              <option id="cols_{{prop}}" name="cols_{{prop}}" value="{{prop}}">{{prop}}</option>
              {% endfor %}
            </select>
          </td>
          {% endfor %}
        </tr>
      </table>
      <table id="md" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <col width="240">
        <col width="240">
        <tr>
          <td>
            <h5 style="font-family:Exo;">Property Name</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Property Unit</h5>
          </td>
        </tr>
        <tr>
          <td>
            <input name="2_prop" type="text" value="na" placeholder="na">
          </td>
          <td>
            <input name="2_unit" type="text" value="na" placeholder="na">
          </td>
          <td>
            <input id="add_0" name="addrow" class="addbutton" type="button" onclick="addRow(0)"
              style="background-color:#005bbb;color:#ffffff;font-family:Exo;" value="Add Row">
          </td>
        </tr>
      </table>

      {% else %}
      <table id="md" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <tr>
          <td>
            <h5 style="font-family:Exo;">Column Name</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Property Name</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Property Unit</h5>
          </td>
        </tr>
        <tr>
          <td>
            <select id="0" class="properties" name="prop_id_0">
              <option id="cols_0P" value="cols_0P">Select column name</option>
              {% for prop in props %}
              <option id="cols_{{prop}}" name="cols_{{prop}}" value="{{prop}}">{{prop}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input name="2_prop" type="text" value="na" placeholder="na">
          </td>
          <td>
            <input name="2_unit" type="text" value="na" placeholder="na">
          </td>
          <td>
            <input id="add_' + id + '" name="addrow" class="addbutton" type="button" onclick="addRow_2(' + id + ')"
              value="Add Row" style="background-color:#005bbb;color:#ffffff;font-family:Exo;">
          </td>
        </tr>
      </table>
      {% endif %}
      {% endif %}
      {% if sim_status %}
      <table id="sim" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <tr>
          <td>
            <h5 style="font-family:Exo;">Method</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Functional</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Basis Set</h5>
          </td>
          <td>
            <h5 style="font-family:Exo;">Forcefield</h5>
          </td>
        </tr>
        <tr>
          {% for sim in [' Method','Functional','Basis_Set','Forcefield'] %} <td>
            <select id="1" class="sims" name="sim_id_0">
              <option id="cols_01" value="cols_01">Select column name</option>
              {% for prop in props %}
              <option id="cols_{{prop}}" name="cols_{{prop}}" value="{{prop}}">{{prop}}</option>
              {% endfor %}
            </select>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>
            <button class="button" type="submit" name="meta-data" method="POST" class="btn btn-primary">Submit</button>
          </td>
        </tr>
      </table>
      {% else %}
      <table id="fin-submit" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <tr>
          <td>
            <button class="button" type="submit" name="meta-data" method="POST" class="btn btn-primary" onClick="showMessage()">Submit</button>
          </td>
        </tr>
      </table>
      {% endif %}
    </form>
    {% endif %}

    {% if val_submit %}
    <form name="final_md" id="final_md" action='' method="POST">
      <table id="finished" class="table table-bordered" border="0" style="align-content:center;font-family:Exo;">
        <tr>
          <td>
            <h5>{{msg}}</h5>
          </td>
        </tr>
      </table>
    </form>
    {% endif %}

    {% if success_msg%}
    <h1>{{success_msg}}</h1>
    {%endif%}
  </div>

  <script>
    document.getElementsByName("des_status").forEach((element) => {
      element.addEventListener('change', () => {
        const values = document.getElementsByName("des_status")
        if (values[0].checked) {
          document.getElementsByName("is_tert").forEach((element) => { element.disabled = false })
          document.querySelector('#is_tert_buttons').style.display = "block"
        } else {
          document.getElementsByName("is_tert").forEach((element) => { element.disabled = true })

          document.querySelector('#is_tert_buttons').style.display = "none"
        }
      })
    })

  </script>
</body>

</html>