@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    background-color: white;
    font-family: 'Arvo', serif;
    font-size: 16px;
}

.nav {
    width: 8%;
    position: absolute;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0px;
    background-color: #e9f1fb;
}

.nav>a {
    margin-bottom: 0.5rem;
    padding-bottom: 0.51rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.nav-button {
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;

}

.nav-selected {
    background-color: #5a9fe9;
    border-right: 2px solid #E56A54;

}

.alert-danger {
    background-color: #FF5D73;
    color: white;
    font-size: 0.6rem;
    padding: 0.2rem;
    border-radius: 0.4rem;
}

.alert-success {
    background-color: #81E979;
    color: #272D2D;
    font-size: 0.6rem;
    padding: 0.2rem;
    border-radius: 0.4rem;
}

.button {
    width: fit-content;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: #da3c28;
    color: white
}


.db-list-title {
    font-size: 1.4rem;

    margin-top: 2rem;
    width: fit-content;
}

.error {

    font-size: 1rem !important;
    width: fit-content;
    position: absolute;
    left: 20%;
}