.setup-container {
    width: 50%;
    position: relative;
    left: 30%;
    margin-top: 5%;
}

.div>input {
    border: 1px solid #645DD7;
}




.db-list {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.db-item {
    background-color: #005BBB;
    color: white;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin-bottom: 0.4rem;
    margin-right: 0.2rem;
}