.view-container {
    width: 80%;
    position: relative;
    left: 18%;
    margin-top: 5%;
}

.view-table {
    background-color: #a4caf9;
    width: fit-content;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 1rem;
    text-align: center;
    height: fit-content;
    padding: 1rem;

}

#search-table-table {
    width: 100% !important;
    overflow: auto;
}