.view-container {
    width: 50%;
    position: relative;
    left: 30%;
    margin-top: 5%;
}

.view-table {
    background-color: #a4caf9;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 1rem;
    text-align: center;
    height: fit-content;
    padding: 1rem;

}